<header class="p-3" style="background-color: #EDF0F7;">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
        <object type="image/svg+xml" data="assets/Logo-Proyecto-PNG.svg" width="40" height="40"></object>
      </a>

      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-between mb-md-0">
        <li><a class="nav-link px-2 link-body-emphasis">Algorithmic Mind</a></li>
        <li><a href="" class="nav-link px-2 link-body-emphasis"></a></li>
        <li><a href="" class="nav-link px-2 link-body-emphasis"></a></li>
        <li><a href="" class="nav-link px-2 link-body-emphasis"></a></li>
      </ul>

      <div class="dropdown text-end" *ngIf="auth.user$ | async as user">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
          <img src="{{ user.picture }}" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small" style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 34px, 0px);" data-popper-placement="bottom-start">
          <li><a class="dropdown-item" routerLink="/file">Subir video</a></li>
          <li><a class="dropdown-item" routerLink="/ejercicios">Subir ejercicios</a></li>
          <li><a class="dropdown-item" href="#">Configuración</a></li>
          <li><a class="dropdown-item" routerLink="/profile-profe">Perfil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><button class="dropdown-item" (click)="LogOut()">Cerrar sesión</button></li>
        </ul>
      </div>
    </div>
  </div>
</header>