<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/bf/Escudo_Universidad_de_Medellin.svg/1200px-Escudo_Universidad_de_Medellin.svg.png" alt="" width="100" height="100">
  <h1 class="display-5 fw-bold text-body-emphasis">Algorithmic Mind</h1>
  <div class="col-lg-6 mx-auto">
    <p class="lead mb-4">Prueba de inicio de sesión</p>
    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
      <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3">Iniciar sesión</button>
    </div>
  </div>
</div>