<div class="d-flex flex-column flex-shrink-0 p-3 sidebar" style="width: 280px; height: 100%; background-color: #EDF0F7; min-height: 100vh;">
  <a routerLink="/main" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <object type="image/svg+xml" data="assets/Logo-Proyecto-PNG.svg" width="40" height="40"></object>
    <span class="fs-4">Algorithmic Mind</span>
  </a>
  <hr>
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="/main" class="nav-link link-body-emphasis" aria-current="page">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
        Inicio
      </a>
    </li>
    <li>
      <a routerLink="/nota" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
        Notas
      </a>
    </li>
    <li>
      <a [routerLink]="['/ejercicio', 1]" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
        Práctica
      </a>
    </li>
    <li>
      <a href="#" class="nav-link link-body-emphasis">
        <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
        Unidades
      </a>
    </li>
  </ul>
</div>